body{
    padding-top:20px;
    padding-bottom:20px;
}

#logo {
        width:50%;
        height:50%;
}

.panel-heading{
    font-size:150%;
}

.form-group.col-md-6{

    margin: 0px;
	padding: 10px;
	border: 0;
	font-size: 100%;

	
}

.form-group {

    margin: 0;
	padding: 10px;
	border: 0;
	font-size: 100%;
	

}

.form-control{

    border-radius: 10px/20px;
}

.btn.btn-primary{
    padding: 10px;
    right: 10px;
    cursor: pointer;
      

}



.uf{
    display: inline-block;
    margin-bottom: .5rem;
    font-size: .875rem;
}

.color-global{
    background: #2e2c36;
}

.color-global-btn{
    background-color: #2E9104;
    color: #fff;
}
